<div class="row">
    <div class="col"></div>
    <div class="col-auto">
        <p-button label="Create"></p-button>
    </div>
</div>
<div class="row mt-2">
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card">
            <div class="card-header">
                <h6>Sales</h6>
            </div>
            <div class="card-body">
                <canvas id="salesChart"></canvas>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card">
            <div class="card-header">
                <h6>Category</h6>
            </div>
            <div class="card-body">
                <canvas id="categoryChart"></canvas>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card">
            <div class="card-header">
                <h6>Profit vs Revenue</h6>
            </div>
            <div class="card-body">
                <canvas id="profitRevenueChart"></canvas>
            </div>
        </div>
    </div>
</div>