<div class="layout">

  <!-- Sidebar -->
  @if (isLogin) {
  <aside class="sidebar" [class.collapsed]="isCollapsed" [class.mobile-open]="isMobileOpen">

    <a class="sidebar-header" href="/">
      <span class="logo">💊</span>
      @if (!isCollapsed) {
      <span class="brand">Genexis</span>
      }
    </a>

    <nav class="menu">
      @for (menuItem of sideBaarMenus; track $index) {
      <a (click)="navigateRoute(menuItem.navigateUrl)" class="menu-item"
        [ngClass]="{'active': navigateUrl === menuItem.navigateUrl}" [pTooltip]="(isCollapsed ? menuItem.label : '')">
        <i [class]="menuItem.icon"></i>
        @if (!isCollapsed) {
        <span>{{menuItem.label}}</span>
        }
      </a>
      }
    </nav>

    <button class="btn btn-sm toggle-sidebar-btn" (click)="toggleSidebar()"
      [pTooltip]="isCollapsed ? 'Expand' : 'Collapse'">
      <i class="bi" [ngClass]="{'bi-chevron-left': !isCollapsed, 'bi-chevron-right': isCollapsed}"></i>
    </button>
  </aside>

  }

  <!-- Overlay (mobile only) -->
  @if(isMobileOpen){
  <div class="overlay" (click)="closeMobile()">
  </div>}

  <!-- Main -->
  <div class="main">

    <!-- @if (isLogin) {
    <header class="topbar">
      <div> </div>
      <div class="ml-auto">
        <i class="bi bi-people"></i>
      </div>
    </header>
    } -->

    <div class="content">
      <router-outlet></router-outlet>
    </div>

  </div>

</div>