<div class="layout">

  <!-- Sidebar -->
  @if (isLogin) {
  <aside class="sidebar" [class.collapsed]="isCollapsed" [class.mobile-open]="isMobileOpen">

    <a class="sidebar-header" href="/">
      <span class="logo">💊</span>
      @if (!isCollapsed) {
      <span class="brand">PharmaSys</span>
      }
    </a>

    <nav class="menu">
      <a (click)="navigateRoute('dashboard')" class="menu-item" [ngClass]="{'active': menu === 'dashboard'}">
        <i class="bi bi-speedometer2"></i>
        @if (!isCollapsed) {
        <span>Dashboard</span>
        }
      </a>
      <a (click)="navigateRoute('billing')" class="menu-item" [ngClass]="{'active': menu === 'billing'}">
        <i class="bi bi-receipt"></i>
        @if (!isCollapsed) {
        <span>Billing</span>
        }
      </a>
      <a (click)="navigateRoute('medicines')" class="menu-item" [ngClass]="{'active': menu === 'medicines'}">
        <i class="bi bi-capsule"></i>
        @if (!isCollapsed) {
        <span>Medicines</span>
        }
      </a>


    </nav>

    <button class="btn btn-sm toggle-sidebar-btn" (click)="toggleSidebar()">
      <i class="bi bi-list"></i>
    </button>
  </aside>

  }

  <!-- Overlay (mobile only) -->
  @if(isMobileOpen){
  <div class="overlay" (click)="closeMobile()">
  </div>}

  <!-- Main -->
  <div class="main">

    <!-- @if (isLogin) {
    <header class="topbar">
      <div> </div>
      <div class="ml-auto">
        <i class="bi bi-people"></i>
      </div>
    </header>
    } -->

    <div class="content">
      <router-outlet></router-outlet>
    </div>

  </div>

</div>